(* an example that wouldn't type check. The SCT test will raise an exception
when it sees an incompatibility between a match "A-" and a tuple *)

bad A[x,y] = bad (x,A[A[x]])

(* another example would be
bad (x,y) = bad A[x]
*)

(* Beware, the example
bad A[x,y,z] = bad (x,y)
is size change terminating for D=0, i.e., when we forget about the
constructors. *)
